<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header') -%>
        <link rel="stylesheet" href="../css/User_Page.css">
        <title>HomePage</title>
</head>

<body>
    <%- include ('../partials/navbar') -%>
    
        <div id="insta-feed"></div>
        <script>

            window.addEventListener('load', () => {
                getLoc('<%= location %>');
            });

        </script>

        <%- include ('../partials/bubbles') -%>
            <%- include ('../partials/footer') -%>

            <script src="../js/getLoc.js" defer></script>
            <script src="../js/jqcode.js" defer></script>
            <script src="../js/getFeed.js" defer></script>

</body>

</html>